:root {
    --bodyBackground: #FCF5D8;
    --bodyTextColor: #390D04;
    --cardIconColor: #ce5137;
    --topNavBackground: #79A206;
    --topNavColor: #FFF8EA;
    --topBarLinkHoverBackground: #9ABA00;
    --splashTextColor: #FF6866;
    --cartBackground: #001;
    --cartTitleBackground: #335;
    --footerBackground: #9ABA00;
    --footerBackgroundOption: #e7753a;
    --spashBackground: #390D04;
    --splashTextShadow: #200;
    --cardTextColor: #280D14;
    --cardBackground: #FAF2C3;
    /* --unusedCardColor: #F8ED94; */
    --cardBorder: #F6E57B;
    --cardHeaderBackground: #D4D600;
}
